.container-fluid {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alert {
  margin-top: 1rem;
  overflow: hidden;
}

.container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.button-group {
  margin-top: 2rem;
}

.card {
  display: flex;
  flex-direction: row;
  margin: 5rem 0 0 0;
  height: 2.5rem;
  width: 30rem;
  justify-content: space-between;
  align-items: center;
}

h6 {
  padding: 1.5rem 1rem 1rem 1rem;
}
div.card:hover {
  box-shadow: 0.2rem 0.2rem 1.2rem gold;
}
