<div class="container">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" title="Home" [routerLink]="['/home']">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/shortenUrl']"> Shorten URL</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/originalUrl']">Get Original URL</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/about']">About</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>